<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="https://kit.fontawesome.com/81a2ed02b0.js" crossorigin="anonymous"></script>
</head>
<body class="body-cont">
<div class="container pt-3 text-white">
  <div th:replace="nav :: navegacion"></div>
  <header>
    <h1 class="titulo">Lista de Clientes</h1>
  </header>
  <main class="main-form">
    <table class="table" id="clientesTable">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Run</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Teléfono</th>
      <th>AFP</th>
      <th>Sistema de salud</th>
      <th>Dirección</th>
      <th>Comuna</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </main>
  <div th:replace="footer :: foot"></div>
  <script th:src="@{/js/listarClientes.js}"></script>
</div>
</body>
</html>