<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Formulario para Profesionales</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="text-white">
    <div class="container pt-3 cont-form">
    <div th:replace="nav :: navegacion"></div>
    <h1 class="text-center titulo">Formulario para Profesionales</h1>
    <div>
      <p class="h4 p-3"> Por favor, ingrese sus datos para facilitar el registro de sus futuras solicitudes</p>
    </div>
      <form class="form" id="formularioProfesional">
          <div class="form-group">
            <input type="hidden" name="id" id="id">
          </div>

          <div class="form-group">
          <label for="run">RUN <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="run" id="run">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="nombre" id="nombre">
          </div>
          <div class="form-group">
          <label for="apellido">Apellido <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="apellido" id="apellido">
          </div>

          <div class="form-group">
              <label for="correo">Correo <span class="text-danger">*</span></label>
              <input type="email" class="form-control" name="correo" id="correo">
          </div>
          <div class="form-group">
            <label for="telefono"> Número de teléfono (+56_) <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="telefono" id="telefono">
          </div>

          <div class="form-group">
            <label for="cargo"> Cargo <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="cargo" id="cargo">
          </div>

        <a href="/profesionalList" class="btn btn-dark">Volver</a>
        <button class="btn btn-dark" type="submit" id="guardarBtn">Guardar</button>
        <button class="btn btn-dark d-none" type="button" id="modificarBtn">Modificar</button>
        </form>
      </div>
      <div th:replace="footer :: foot"></div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <script th:src="@{/js/profesional.js}"></script>
      <script>
            const profesionalId = window.location.pathname.split('/').pop();
            Profesional(profesionalId);

            document.getElementById('formularioProfesional').addEventListener('submit', function(event) {
              event.preventDefault();
              CrearProfesional();
            });

            document.getElementById('modificarBtn').addEventListener('click', function() {
              const data = {
                id : document.getElementById("id").value,
                run : document.getElementById("run").value,
                nombre: document.getElementById("nombre").value,
                apellido: document.getElementById("apellido").value,
                correo: document.getElementById("correo").value,
                telefono: document.getElementById("telefono").value,
                cargo: document.getElementById("cargo").value,
              };
              ActualizarProfesional(data);
            });
      </script>
    </div>
</body>
</html>